/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    header .container{
        display: flex;
        flex-direction: row;
    }
    
    header{
        margin-top: -18px;
        margin-bottom: -18px;
    }
    
    .logo{
        display: inline-block;
        margin-right: 50%;
        
    }
    
    .container nav{
        visibility: collapse;
    }
 
    .dropdown{
        visibility: visible;
        display: inline-block;
        color: black;
        
    }

    .container .titulo img{
        margin-top: 100px;
    }

    .dropdown a{
        text-decoration: none;
        color: red;
    }

    .botao1, .botao2{
        display: inline;
        margin-bottom: 15px;
        
        
    }
    
    #title1{
        margin-top: 50px;
    }
}

@media screen and (min-width: 601px){
    .dropdown{
        visibility: collapse;
    }
} 

@media only screen and (min-width: 1000px) {
    .descricao{
        width: 50%;
    }

}